<div class="row">
<!-- renderで共通部分挿入 -->
<div class="col-xs-9">
	<h2>Book detail</h2>
	<!-- eachメソッド -->
	<table>
		<tbody>
		<% @books.each do |book| %><!-- ctrlの@books=Book.allより引用するので@は複数形 -->
		<% @books.order("id") %><!-- orderメソッドでid順に並べ替え -->
			<tr>
			<!-- セル１ -->
				<td>
				<%= book.title %>
				</td>
				<!-- セル２ -->
				<td>
				<%= book.body %>
				</td>
				<!-- セル３ -->
				<td><!-- ここの引数は@いらない eachの|book|が関係-->
				<%= link_to "Edit", edit_book_path(book) %>
				</td>
				<!-- セル４ -->
				<td>
				<%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に削除しますか？" %> <!--デリート時に文章を表示 リソースをshowに設定してそのリソースをdelete-->
				</td>
			</tr>
		<% end %><!-- eachメソッドのエンド忘れない！ -->
		</tbody>
	</table>
</div>
</div>